.git
.gitattributes
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/app/public/*
!storage/app/public/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/build
public/storage
bootstrap/cache/*
!bootstrap/cache/.gitignore
tests
.phpunit.cache

